<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Set Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="fan">
    <div id="inner-fan">
      <div class="ceiling-fan"></div>
    </div>
  </section>

  <section id="sound-levels">
    <button class="sound-button">OFF</button>
    <button class="sound-button">LOW</button>
    <button class="sound-button">MED</button>
    <button class="sound-button">HIGH</button>
  </section>

  <section id="music-carrousel">
    <ion-title>Music for sleeping</ion-title>
  </section>
</ion-content>
