#fan {
  background-color: rgb(118, 118, 95);
  display: flex;
  justify-content: center;
  height: 200px;
  #inner-fan {
    background-color: blue;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px solid white;
  }
}

#sound-levels {
  background-color: rgb(102, 118, 95);
  height: 200px;
}

#music-carrousel {
  background-color: rgb(102, 118, 195);
  height: 200px;
}