<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Set Timer <button id="open-modal">O</button></ion-title>
  </ion-toolbar>
</ion-header>

<ion-modal trigger="open-modal">
  <header>
    <h2>Set Timer <button>X</button></h2>
  </header>
  <p>Lets make sounds fade away gradually in:</p>
</ion-modal>

<ion-content [fullscreen]="true">
  <section id="fan">
    <div id="inner-fan">
      <div class="ceiling-fan"></div>
    </div>
  </section>

  <section id="sound-levels">
    <button class="sound-button">OFF</button>
    <button class="sound-button">LOW</button>
    <button class="sound-button">MED</button>
    <button class="sound-button">HIGH</button>
  </section>

  <section id="music-carousel">
    <ion-title>Music for sleeping</ion-title>
    <swiper
      [config]="{ slidesPerView: 2, grabCursor: true, height: 200, spaceBetween: 15}"
    >
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
      <ng-template swiperSlide>Slide 4</ng-template>
    </swiper>
  </section>
</ion-content>
