#fan {
  background: rgb(0, 59, 71);
  background: linear-gradient(
    0deg,
    rgba(0, 59, 71, 1) 21%,
    rgba(7, 64, 120, 1) 100%
  );
  display: flex;
  justify-content: center;
  height: 200px;
  #inner-fan {
    background-color: blue;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    z-index: 1;
  }
}

#sound-levels {
  background-color: rgb(0, 48, 58);
  height: 100px;
  display: flex;
}

.sound-button {
  margin: 2em 1em;
  border-radius: 5px;
  flex-grow: 1;
  z-index: 2;
}

#music-carousel {

  background-color: rgb(102, 118, 195);
  height: 200px;

  ion-title {
    min-height: 56px;
    background-color: rgb(31, 31, 31);
  }

  swiper {
    margin-top: 1em;
    height: 6em;
  }
    
    
  margin: 0 5%;
  .swiper-slide {
    border-radius: 5px;
    background-color: lightgreen;
    background-color: gray;
    height: 100px;
    border-radius: 5%;
    width: 30vh !important;

  }
}

.ceiling-fan {
  background-color: #ff6d00;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 82px;
  position: relative;
  transform-origin: center;
  z-index: 2;
}
.ceiling-fan::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 70px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
  top: 36px;
}
.ceiling-fan::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 80px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
  top: -82px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(0deg);
  }
}
.ceiling-fan {
  background-color: #ff6d00;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  transform-origin: center;
}
#off {
  animation: spin 8.5s linear;
}

#low {
  animation: spin 1.5s linear infinite;
}

#med {
  animation: spin 1.1s linear infinite;
}

#high {
  animation: spin 0.8s linear infinite;
}
.ceiling-fan::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 80px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
  top: 36px;
}
.ceiling-fan::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 80px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
  top: -82px;
}
