<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Set Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="fan">
    <div id="inner-fan">
      <div class="ceiling-fan"></div>
    </div>
  </section>

  <section id="sound-levels">
    <button class="sound-button">OFF</button>
    <button class="sound-button">LOW</button>
    <button class="sound-button">MED</button>
    <button class="sound-button">HIGH</button>
  </section>

  <section id="music-carrousel">
    <ion-title>Music for sleeping</ion-title>
    <swiper [config]="{ slidesPerView: 2, grabCursor: true}">
      <ng-template swiperSlide><ion-col>Slide 1</ion-col></ng-template>
      <ng-template swiperSlide><ion-col>Slide 2</ion-col></ng-template>
      <ng-template swiperSlide><ion-col>Slide 3</ion-col></ng-template>
      <ng-template swiperSlide><ion-col>Slide 4</ion-col></ng-template>
    </swiper>
  </section>
</ion-content>
